*
  margin: 0
  padding: 0

body
  font-family: Helvetica, Jamrul, sans-serif
  font-size: $font-size
  background-color: $theme-color
  line-height: 1.1em
  color: $text-color

  a
    text-decoration: none
    outline: none
    color: $link-color
    &:hover
      text-decoration: underline

  h1, h2, h3
    margin-bottom: $small-space
    font-weight: bold
    line-height: 1.4em

  h1
    font-size: 1.4em
    color: $link-color
  h2
    font-size: 1.3em
  h3
    font-size: 1.2em

  hr
    height: 1px
    margin-bottom: $medium-space
    border: none
    background-color: $border-color

  footer#footer
    position: fixed
    bottom: 0
    width: 100%
    padding: $small-space
    background-color: $background-color
    border-top: 1px solid $border-color
    text-align: center

  section#content
    margin: $small-space auto
    width: $content-width
    border: 1px solid $border-color
    background-color: $background-color
    padding: $big-space
    color: $text-color
