@import modules/basic

body
  font-family: Helvetica, Jamrul, sans-serif
  font-size: $font-size
  background-color: $theme-color
  line-height: 1.1em
  color: $text-color

  footer#footer
    position: fixed
    bottom: 0
    width: 100%
    padding: $small-space
    background-color: $background-color
    border-top: 1px solid $border-color
    text-align: center
