@import modules/basic

body
  font-family: Helvetica, Jamrul, sans-serif
  font-size: $font-size
  background-color: $theme-color
  line-height: 1.1em
  color: $text-color

  section#content
    margin: 4 * $small-space + 1 auto
    width: $content-width

  footer#footer
    position: fixed
    bottom: 0
    width: 100%
    height: $small-space
    padding: $small-space
    background-color: $background-color
    border-top: 1px solid $border-color
    text-align: center

  header#header
    background-color: $background-color
    padding: $small-space 0
    border-bottom: 1px solid $border-color
    text-align: center
    margin-bottom: - 3 * $small-space - 2
    width: 100%
    h1
      margin-bottom: -8px
      font-size: 20px
