// general

$text-color: #000
$border-color: #222
$background-color: #333
$link-color: #579
$content-background-color: rgba(255, 255, 255, 0.7)
$content-width: 900px

// margins and padding

$small-space: 5px
$medium-space: 10px
$big-space: 20px

// html entities

$birth-sign: "\002734"
$burial-sign: "\00271d"

@mixin rounded($radius: 10px)
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius

@mixin top_rounded($radius: 10px)
  border-top-left-radius: $radius
  border-top-right-radius: $radius
  -moz-border-radius-topleft: $radius
  -moz-border-radius-topright: $radius
  -webkit-border-top-left-radius: $radius
  -webkit-border-top-right-radius: $radius

@mixin bottom_rounded($radius: 10px)
  border-bottom-left-radius: $radius
  border-bottom-right-radius: $radius
  -moz-border-radius-bottomleft: $radius
  -moz-border-radius-bottomright: $radius
  -webkit-border-bottom-left-radius: $radius
  -webkit-border-bottom-right-radius: $radius
