= anchor(:contact)
%section.contact
  %header
    %h2 Kontakt

  %section
    %header
      %h4 Stary Cmentarz

    %address
      .address ul. Ogrodowa 39/43, Łódź
      .email= mail_to "kontakt@starycmentarz.org"

    %p Godziny otwarcia:
    %ul
      %li w okresie od 1 IV do 31 X w godzinach 8-20
      %li w okresie od 1 XI do 31 III w godzinach 8-17

  %section
    %header
      %h4 Kancelaria cmentarza katolickiego p.w. św. Józefa

    %address
      .address ul. Ogrodowa 39, Łódź
      .phone tel. 42 632 60 85

    %p Godziny otwarcia:
    %ul
      %li poniedziałek, środa, czwartek, piątek 8.00-15.30
      %li wtorek 9.00-16.30

  %section
    %header
      %h4 Kancelaria cmentarza prawosławnego p.w. św. Aleksandra Newskiego

    %address
      .address ul. Narutowicza 46, Łódź
      .phone tel. 42 633 41 69
    %p Godziny otwarcia:
    %ul
      %li poniedziałek - piątek 10.00-13.00

  %section
    %header
      %h4 Kancelaria cmentarza ewangelickiego p.w. św. Mateusza

    %address
      .link= link_to "http://mateusz.org.pl"
      .email= mail_to "kancelaria@mateusz.org.pl"
      .address ul. Piotrkowska 283, Łódź
      .phone tel. 42 684 66 72 wewn. 1

    %p Godziny otwarcia:
    %ul
      %li poniedziałek, środa, piątek 9.00-13.00
      %li wtorek 10.00-18.00
      %li czwartek 9.00-16.00
