= anchor(:history)
%section.history
  %header
    %h2 Historia

  %p W 1854 roku Magistrat Miasta Łodzi wraz z Dozorem Kościoła Katolickiego i Kolegium Kościoła Ewangelickiego wytyczają teren nowego cmentarza położonego na kilku odkupionych uprzednio od prywatnych właścicieli działkach. Decyzja o założeniu trójwyznaniowego cmentarza była koniecznością z uwagi na to iż ówcześnie wiele łódzkich rodzin było mieszanych wyznaniowo. Uroczyste poświęcenie cmentarza nastąpiło 9 września 1855 roku, mimo iż pochówki rozpoczęto pod koniec poprzedniego roku.
  %p W tym czasie cmentarz posiadał powierzchnię 8,8 hektarów. Podzielony został na trzy części wyznaniowe, które na przełomie lat 70. i 80. XIX wieku rozgrodzono żelaznym, ażurowym, niskim płotkiem. W tym też czasie powiększono jeszcze obszary poszczególnych części cmentarzy, ogrodzono murami ceglanymi cały trójwyznaniowy teren, wykonując także 3 bramy wjazdowe. Czwartą bramę wzniesiono około 1888 roku. Stanowiła ona bramą wjazdową na szeroką, główną aleję cmentarną należącą do paraﬁi Świętego Jana, prowadzącą do kaplicy grobowej rodziny Scheiblerów. Prawdopodobnie dopiero po I Wojnie Światowej odgrodzono część katolicką od ewangelickiej i prawosławnej murem z prefabrykatów żelbetowych.
  %p W 1888 roku cmentarz został po raz kolejny powiększony o przylegające tereny z uwagi na jego zapełnienie - uzyskał wtedy powierzchnię ok. 14,6 hektarów. Ostatnie powiększenia zakończone po 1895 roku sprawiły, że otrzymał on swoją obecną, 21-hektarową powierzchnię.
  %p Część katolicka zajmuje powierzchnię 10 hektarów i 6 540 m², podzieloną na 37 kwater. Część ewangelicko-augsburska zajmuje powierzchnię 9 hektarów i 5000 m², podzieloną na 48 kwater. Część prawosławna zajmuje powierzchnię 0,9 hektara, podzieloną na dwa długie pasy.

  %p Więcej informacji o Starym Cmentarzu można znaleźć w następujących źródłach:
  %ul
    %li Film „Nekropolis. Trójprzymierze cieni”
    %li Nekropolia Łodzi wielkoprzemysłowej, Jan Dominikowski
    %li Stary Cmentarz Ewangelicko-Augsburski w Łodzi, Krzysztof Stefański
    %li W cieniu alei cmentarnych, Zbigniew Piąstka
