= anchor(:partners)
%section.partners
  %header
    %h2 Partnerzy
  %p Curabitur et nisi tortor. Proin varius pretium mattis. Pellentesque convallis lorem sit amet elit viverra, in ornare erat fermentum. Quisque in semper purus. Pellentesque lectus risus, euismod at molestie ut, luctus eleifend eros. Mauris a massa id nisi gravida facilisis. Quisque tellus urna, scelerisque a interdum vel, sollicitudin vel dolor.
  %p Etiam at tellus nibh. Pellentesque magna leo, accumsan vitae viverra et, varius sed ipsum. Donec mi purus, bibendum ac purus eu, euismod lobortis ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce sed velit sapien. Donec eu malesuada erat. Etiam ut dictum orci.
  %p Curabitur dictum lectus eget enim gravida laoreet. Maecenas id tristique nibh, vitae volutpat justo. Sed pulvinar sit amet ante ac tincidunt. Integer vel sapien pellentesque, posuere dui a, aliquet augue.
