= anchor(:your_help)
%section.your_help
  %header
    %h2 Jak możesz pomóc

  %p
    Dwie organizacje prowadzą stałą zbiórkę funduszy przeznaczonych na renowację obiektów znajdujących się na Starym Cmentarzu, a inne są zaangażowane w coroczne akcje sprzątania cmentarza. Dodatkowo cały czas rozbudowywana i uzupełniana jest baza osób pochowanych. Zachęcamy również do włączenia się w coroczną kwestę na rzecz ratowania zabytków. O wszystkich nadchodzących akcjach można znaleźć informacje w dziale
    = link_to "Aktualności", root_path(anchor: "news")
    \.

  %ol
    %li
      Towarzystwo Opieki nad Zabytkami - Oddział w Łodzi zbiera przez cały czas informacje na temat pochowanych osób, które umieszcza w wirtualnej mapie Starego Cmentarza. Historie życia osób wraz ze zdjęciami można nadsyłać przez cały czas na adres:
      = mail_to "stary.cmentarz.2.0@starycmentarz.org"

    %li
      Towarzystwo Opieki nad Starym Cmentarzem prowadzi stałą zbiórkę funduszy przeznaczonych na renowację grobów. Wpłat można dokonywać podając następujące dane:
      %br
      %code
        Towarzystwo Opieki nad Starym Cmentarzem przy ulicy Ogrodowej w Łodzi
        %br
        90-301 Łódź, ul. Wigury 12a
        %br
        Bank PEKAO S.A.
        %br
        12 1240 5585 1111 0000 4884 4626
    %li
      Fundacja na Rzecz Ratowania Kaplicy Karola Scheiblera
      = link_to "http://scheibler.org.pl"
      zbiera środki na remont najpiękniejszego zabytku łódzkiej nekropolii, który pochłonie około 20 milionów złotych.
      %br
      %code
        Fundacja na Rzecz Ratowania Kaplicy Karola Scheiblera
        %br
        91-072 Łódź, ul. Legionów 81
        %br
        Bank PEKAO S.A. XI O/Łódż
        %br
        51 1240 3073 1111 0000 4158 2563
    %li
      Grupa Pewnych Osób organizuje coroczne sprzątanie grobów na Starym Cmentarzu. W uzgodnieniu z Towarzystwem Opieki nad Starym Cmentarzem wybierane są groby, które następnie poddane zostaną renowacji.
