%section.tonsc
  %header
    %h3 Towarzystwo Opieki nad Starym Cmentarzem przy ulicy Ogrodowej w Łodzi

  %ul
    %li przedsięwzięcia zmierzające do ochrony wartości zabytkowych i historycznych Starego Cmentarza w Łodzi.
    %li upowszechnianie wiedzy i znaczenia opieki nad zabytkami Cmentarza
    %li podejmowanie prac konserwatorskich
    %li informowanie społeczeństwa o stanie w jakim znajdują się poszczególne obiekty
    %li interweniowanie u władz w wypadku zagrożenia i dewastacji obiektów
    %li prowadzenie stałej zbiórki funduszy przeznaczonych na renowację grobów.

  %p Dane kontaktowe:
  %address
    Towarzystwo Opieki nad Starym Cmentarzem przy ulicy Ogrodowej w Łodzi
    %br
    90-301 Łódź, ul. Wigury 12A
    %br
    = mail_to "towarzystwo@starycmentarz.org"
