#social_media
  %ul
    - if @posts.present?
      %li= link_to(image_tag(image_path("social_media/rss.png")), posts_path(format: :atom), target: "_blank")
    - else
      %li= publish_on_twitter(@post)
      %li= publish_on_facebook(@post)
      %li= publish_on_google_plus(@post)
