@import modules/general

section.intro
  min-height: 470px

  section.map
    float: left

  section.explanation footer

    ul
      margin-top: $big-space
      list-style: none
      font-size: 1.5em
      font-family: "Milonga", cursive
      text-align: center

section.news

  dl
    dt, dd
      line-height: 1.2em
      margin-top: $medium-space

      .small
        float: right
        font-size: small
        color: $border-color

section.post
  line-height: 1.2em

  > section
    margin-top: $medium-space

  .small
    font-size: small
    color: $border-color
  .back
    float: right

section.contact
  .right
    margin-top: -$small-space
    width: 480px
    float: right
  section
    margin-top: $big-space
    line-height: 1.5em
    ul li
      margin-left: $big-space

section.partners
  ol li
    line-height: 1.2em
    margin: $big-space
  .logos
    float: right
    border-left: 1px solid $border-color
    padding-left: $big-space
    margin-left: $big-space
    width: 450px
    figure
      width: 200px
      text-align: center
      float: right
      margin-left: $small-space

section.your_help
  line-height: 1.2em
  ol li
    margin: 0 0 $medium-space $big-space
  code
    font-size: 0.8em
    line-height: 1em

section.history, section.news
  line-height: 1.2em
  ul li
    margin-left: $big-space
