@import modules/macros

section#content
  width: 480px !important
  height: 460px
  border: 1px solid $border-color
  background-color: $background-color
  padding: $big-space
  color: $text-color
  text-align: center

  path
    fill: $background-color
    stroke: $text-color
    stroke-width: 1px
    cursor: pointer

    &.cross
      fill: $text-color
      stroke-width: 0

    &.part
      fill: $theme-color
      stroke: $border-color

  .selected

    .cross
      fill: $link-color
      stroke-width: 0

    .part
      fill: $highlight-color
      stroke: $link-color

    #rose path
      stroke: $link-color
