@import modules/macros
@import modules/basic

section
  background-color: $background-color
  font-family: Helvetica, Jamrul, sans-serif
  font-size: $font-size
  line-height: 1.1em
  color: $text-color

  h4
    font-size: small
    margin: 0
    padding: 0

  #social_media ul
    display: block
    float: right
    margin-top: -$medium-space
    margin-left: $small-space
    li
      display: inline-block

  dl
    dt
      font-size: 1.1em
      margin-top: $medium-space

      .small
        display: inline-block
        font-size: small
        color: $border-color
