@import modules/macros

.ui-autocomplete
  line-height: 1em
  background-color: $background-color
  border-bottom: 1px solid $border-color
  border-left: 1px solid $border-color
  border-right: 1px solid $border-color
  width: 287px
  .ui-menu-item
    padding: $small-space
    cursor: pointer
    list-style: none
    &:hover
      background-color: $highlight-color

.ui-tooltip
  border: 1px solid $border-color
  background: $background-color
  line-height: 1em
  font-size: 0.8em
  padding: $small-space
  text-align: center
  width: 300px
  height: 16px

section.quarter

  figure.map
    margin-right: 20px
    min-width: 500px
    min-height: 500px
    text-align: center

  section.sepulchres
    float: right
    width: 400px

    > header
      input
        font-size: 1.1em
        padding: 7px
        outline: none
      input[name=search]
        border: 1px solid $border-color
        width: 290px
        color: $text-color
      input[name=commit]
        padding: 7px 13px
        border: 1px solid $link-color
        color: $background-color
        background-color: $link-color
        margin-left: -$small-space/2
      span[role=status]
        display: none

    section.results
      margin-top: $big-space

      dl
        line-height: 1.2em

        dt
          font-size: 1.1em
          line-height: 1.3em
          span.additional
            display: block
            margin-bottom: $small-space/2
            font-size: 0.7em
        dd
          margin-bottom: $big-space
          font-size: 0.7em
          color: gray
