@import modules/macros

section.sepulchre
  line-height: 1.3em

  aside
    float: right
    border: 1px solid $border-color
    padding: $medium-space
    line-height: 1.2em
    margin: 0 0 $medium-space $medium-space
    max-width: 300px

    figure
      float: left

    dl
      margin-top: $small-space

      dt
        font-weight: bold

      dd
        margin-bottom: $small-space
