@import modules/macros

section.sepulchre
  line-height: 1.3em

  aside
    float: left
    border: 1px solid $border-color
    padding: $medium-space
    line-height: 1.2em
    margin: 0 $medium-space $medium-space 0

    dl
      margin-top: $small-space
      max-width: 300px

      dt
        font-weight: bold

      dd
        margin-bottom: $small-space
