%section.sepulchres
  %dl
    - @sepulchres.each do |sepulchre|
      %dt
        = link_to sepulchre.decedent, sepulchre
        %span
          .birth= sepulchre.birth
          .burial= sepulchre.burial
      %dd= truncate(sepulchre.history, length: 500)
