%p
  = link_to t("links.news"), static_page_path(action: :news), "data-fancybox-type" => "iframe"
  |
  = link_to t("links.history"), static_page_path(action: :history), "data-fancybox-type" => "iframe"
  |
  = link_to t("links.partners"), static_page_path(action: :partners), "data-fancybox-type" => "iframe"
  |
  = link_to t("links.contact"), static_page_path(action: :contact), "data-fancybox-type" => "iframe"
